.container-evento{
    width: 90vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 2px black;
    border-radius: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.botao-evento{
    font-size: 20px;
    width: 125px;
    height: 30px;
    border-radius: 25px;

}

.botao-evento:hover{
    cursor: pointer;
}